<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Exercise 2_07/src/Name_Age_AnnualIncome.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Name_Age_AnnualIncome"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Exercise 2_07"/>
</launchConfiguration>
